body {
	font-family: 'Lucida Grande', sans-serif;
	margin:0;
	padding:0;
	width:100%;
	color: black;
	background: snow;
	/*#ffe4c4;*/
}

ul {
	list-style-type: none;
	display:inline;
	padding:0;
	position:relative;
	left:50%;
}

a {
	text-decoration: none;
	color:#73a9c2;
}

li {
	display:inline;
	margin-right:50px;
}
nav {
	visibility: hidden;
	z-index:1000;
}

h1 {
	margin:0;
}

.past-photo {
	border-bottom: solid 1px #cccccc ;
	padding:10px;
	position:fixed;
	background:#333333;
	width:100%;
	top:0;
	color:white;
	visibility: visible;
}

.main_name {
	width:146;
	display:inline-block;
}


nav li a:hover {
	color:white;
	/*border-bottom:5px solid #fadfad;*/
	/*font-size:1.25em;*/
}

/*nav li:nth-child(2) a:hover {
	color:blue;
	border-bottom:5px solid blue;
	font-size:1.25em;
}

nav li:nth-child(3) a:hover {
	color:gold;
	border-bottom:5px solid gold;
	font-size:1.25em;
}

nav li:nth-child(4) a:hover {
	color:lightgreen;
	border-bottom:5px solid lightgreen;
	font-size:1.25em;
}*/


.main_photo {
	background: url('public/zoe.jpg') no-repeat -63px 10%;
	background-size: 132%;
	width:200px;
	height:200px;
	border-radius:50%;
	border:5px solid #73a9c2;
	margin: 0 auto;
}


.header_photo {
	background: url('public/spraying coca.jpg') no-repeat center center;
	background-size: cover;
	width:100%;
	height:700px;
	/*position:relative;*/
	/*top:50px;*/
	/*padding:150px 0;*/
	/*padding-top:70px;*/
	text-align: center;
	font-size:2em;
	background-attachment: fixed;
}



.header_photo>h1 {
	color:white;
	position:absolute;
	top:300px;
	left:50px;
	font-size:2.333em;
	z-index:1000;
}

.shade {
	content:"";
	background:black;
	position:absolute;
	width:100%;
	height:700px;
	opacity:0.33;
}


/*.coca_back > * {
	color:white;
}*/

.description {
	width:50%;
	margin:0 auto;
	padding-top:100px;
	line-height:1.66666em;
	font-size:1.33333em;
	color:#333333;
	text-align: justify;
	font-family:"Georgia";

}

.description h1 {
	font-size:2em;
	text-align: center;
	color:#333333;
	text-transform: uppercase;
	font-family: "Lucida Grande";
}

.description h3 {
	font-size:0.8em;
	text-align:center;
	color:#8f8f8f;
	font-family: "Lucida Grande";

}

.first_letter {
	font-size:2em;
}

.standalone {
	font-size:1.1em;
	/*background: snow;*/
	width:1100px;
	padding:40px;
	position:relative;
	left: -300px;
	/*border-radius:20px;*/
	line-height:1.75em;
	font-family: "Lucida Grande";
	color:#8f8f8f;
	margin:0 auto;
}

.action {
	background: #333333;
	color: white;
	width:100%;
	text-align: center;
	margin-top:50px;
	padding:20px 0;
	/*border-radius:7px;*/
}

button {
	background: #73a9c2;
	border:0;
	width:120px;
	color:white;
	padding:10px;
	border-radius:5px;
	font-size:1.25em;
	outline:none;
}

button:hover {
	background:gold;
}
